body{
    background: radial-gradient(circle, rgb(67, 54, 60) 100%, rgba(198,47,180,1) );
    display: flex;
    justify-content: center;
    align-items: center;
}
.li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    background-color: bisque;
    border-radius: 5px;
    padding: 10px;
    margin: autos;
}.container h1{
        text-align: center;
}.input_btn{
    display: flex;
    justify-content: space-between;
    
}.container input{
    width: 400px;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 2px solid rgb(67, 54, 60);
    outline: none;
    margin-left: 10px;
    margin-right: 10px;
}.container image{
    size: 40px;
}.icons{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
}.container button{
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: aliceblue;
    display: flex;
    align-items: center;
    background: rgb(67, 54, 60);
    cursor: pointer;
}

@media (max-width:400px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        margin-top: 40px;
        width: 350px;
       
    }.container input{
        width: 300px;
        font-size: 16px ;
    }.input_btn{
        margin-right: 10px;
    }.container h1{
        font-size: 20px;
    }
}